/**
 * @package 	WordPress
 * @subpackage 	Payday Loans
 * @version 	1.0.0
 * 
 * Theme RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-left: 0;
	margin-right: 20px;
}

ul {
	padding-right: 15px;
}

ul li:before {
	content: '\eb21';
	text-align: center;
	left: auto;
	right: -18px;
}

blockquote {
	padding-left: 0;
	padding-right: 80px;
}

table caption {
	text-align: center;
}

body {
	text-align: right;
}

div {
	text-align: right;
}

nav > div > ul ul {
	left: auto;
	right: 0;
}

nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
	left: auto;
	right: 100%;
}

.header_top nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

.header_bot nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

nav > div > ul li.menu-item-dropdown-right {
	text-align: left;
}

nav > div > ul li.menu-item-dropdown-right * {
	text-align: left;
}

nav > div > ul li.menu-item-dropdown-right > ul {
	left: 0;
	right: auto;
}

nav > div > ul li.menu-item-dropdown-right > ul ul {
	margin-left: 20px;
	margin-right: 0;
	left: 100%;
	right: auto;
}

.header_bot nav > div > ul li.menu-item-dropdown-right > ul ul {
	margin-left: 20px;
	margin-right: 0;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container {
	left: 0;
	right: auto;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container ul {
	right: auto;
	left: auto;
}

nav > div > ul li:hover > ul:before {
	left: auto;
	right: 0;
}

nav > div > ul li:hover > div.menu-item-mega-container:before {
	left: auto;
	right: 0;
}

nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 8px;
}

.header_top nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 2px;
}

.header_bot nav > div > ul li li:hover > ul {
	margin-left: 0;
	margin-right: 8px;
}

nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -9px;
}

.header_top nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -3px;
}

.header_bot nav > div > ul li li:hover > ul:before {
	left: auto;
	right: -9px;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul {
	margin-left: 8px;
	margin-right: 0;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul {
	margin-left: 8px;
	margin-right: 0;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul:before {
	left: -9px;
	right: auto;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul:before {
	right: auto;
	left: -9px;
}

nav > div > ul .nav_title[class^="cmsmasters-icon-"]:before,
nav > div > ul .nav_title[class*=" cmsmasters-icon-"]:before {
	margin-left: .5em;
	margin-right: 0;
}

nav > div > ul > li {
	float: right;
	border-left-width: 1px;
	border-left-style: solid;
}

nav > div > ul > li:last-child {
	border-left-width: 0;
	border-left-style: solid;
}

nav > div > ul li.menu-item-mega ul {
	left: auto;
	right: auto;
}

nav > div > ul div.menu-item-mega-container {
	left: auto;
	right: 0;
}

.one_first,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.one_sixth {
	float: right;
}

.one_first {
	float: none;
}

.cmsmasters_row .cmsmasters_row_overlay {
	left: auto;
	right: 0;
}

.cmsmasters_theme_icon_slide_prev:before,
.cmsmasters_prev_arrow span:before {
	content: '\eb25'; /* Check this rule! */
}

.cmsmasters_theme_icon_slide_next:before,
.cmsmasters_next_arrow span:before {
	content: '\eb26'; /* Check this rule! */
}

.preloader {
	text-align: center;
}

.preloader .full-width {
	left: auto;
	right: 0;
}

.preloader.highImg .full-width {
	left: auto;
	right: auto;
}

.resizable_block .full-width {
	left: auto;
	right: 0;
}

.cmsmasters_img_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsmasters_img_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_open_link,
.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_image_link {
	left: auto;
	right: 0;
}

.img_placeholder_small:before {
	left: 0;
	right: 0;
}

.cmsmasters_video_wrap > div {
	left: auto;
	right: 0;
}

.cmsmasters_video_wrap iframe {
	left: auto;
	right: 0;
}

.cmsmasters_video_wrap .wp-video-shortcode,
.cmsmasters_video_wrap .mejs-layer {
	left: auto;
	right: 0;
}

#middle .search_bar_wrap .search_field input,
#bottom .search_bar_wrap .search_field input {
	padding-left: 48px;
	padding-right: 20px;
}

.search_bar_wrap .search_button {
	left: 0;
	right: auto;
}

.search_bar_wrap .search_button button:before {
	left: 0;
	right: 0;
}

.social_wrap li {
	margin-left: 5px;
	margin-right: 0;
}

.social_wrap a:before {
	left: 0;
	right: 0;
}

.owl-carousel {
	direction: ltr;
}

.owl-carousel .owl-item > div {
	direction: rtl;
}

.owl-pagination {
	left: auto;
	right: 0;
	text-align: center;
}

.owl-buttons {
	left: auto;
	right: 0;
	text-align: center;
}

#slide_top {
	text-align: center;
	right: auto;
	left: 20px;
}

.cmsmasters_likes a span,
.cmsmasters_comments a span {
	margin-left: 0;
	margin-right: 5px;
}

.button,
input[type=submit],
input[type=button],
button,
.page #fbuilder fieldset .pbNext,
.page #fbuilder fieldset .pbPrevious,
.page #fbuilder fieldset .reset-button {
	text-align: center;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
	float: left;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but {
	margin-left: 0;
	margin-right: 4px;
	padding-left: 30px;
	padding-right: 15px;
	float: right;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but:before {
	right: auto;
	left: 12px;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_but {
	float: left;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list {
	padding-left: 20px;
	padding-right: 0;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li {
	margin-left: 4px;
	margin-right: 0;
}

.cmsmasters_wrap_items_loader {
	text-align: center;
}

.cmsmasters_wrap_pagination {
	text-align: center;
}

.cmsmasters_wrap_pagination ul {
	text-align: center;
}

.cmsmasters_wrap_pagination ul li .page-numbers.prev {
	left: auto;
	right: 20px;
}

.cmsmasters_wrap_pagination ul li .page-numbers.next {
	right: auto;
	left: 20px;
}

.cmsmasters_wrap_pagination ul li .page-numbers.current:before {
	left: auto;
	right: 50%;
	margin-right: -9px;
}

.post_nav:before {
	left: auto;
	right: 50%;
	margin-right: -6px;
}

.post_nav > span.cmsmasters_prev_post {
	padding-left: 20px;
	padding-right: 0;
	float: right;
}

.post_nav > span.cmsmasters_prev_post a {
	padding-left: 0;
	padding-right: 40px;
}

.post_nav > span.cmsmasters_prev_post > span {
	left: auto;
	right: 1px;
}

.post_nav > span.cmsmasters_prev_post .cmsmasters_prev_arrow span:before {
	content:'\eb26';
}

.post_nav > span.cmsmasters_next_post .cmsmasters_next_arrow span:before {
	content:'\eb25';
}

.post_nav > span.cmsmasters_next_post {
	padding-left: 0;
	padding-right: 20px;
	float: left;
}

.post_nav > span.cmsmasters_next_post a {
	padding-left: 40px;
	padding-right: 0;
}

.post_nav > span.cmsmasters_next_post > span {
	left: 1px;
	right: auto;
}

.share_posts a {
	margin-left: 25px;
	margin-right: 0;
}

.about_author .about_author_avatar {
	margin-left: 30px;
	margin-right: 0;
	float: right;
}

.cmsmasters_single_slider .cmsmasters_owl_slider .owl-buttons > div {
	text-align: center;
}

.cmsmasters_single_slider .cmsmasters_owl_slider .owl-buttons > div.owl-prev {
	left: auto;
	right: 15px;
}

.cmsmasters_single_slider .cmsmasters_owl_slider .owl-buttons > div.owl-prev .cmsmasters_prev_arrow > span:before {
	content: '\eb26';
}

.cmsmasters_single_slider .cmsmasters_owl_slider .owl-buttons > div.owl-next {
	right: auto;
	left: 15px;
}

.cmsmasters_single_slider .cmsmasters_owl_slider .owl-buttons > div.owl-next .cmsmasters_next_arrow > span:before {
	content: '\eb25';
}

.cmsmasters_single_slider .cmsmasters_post_date {
	right: auto;
	left: 0;
}

.cmsmasters_single_slider .cmsmasters_img_wrap > a:before {
	left: 0;
	right: 0;
}

.commentlist .children {
	padding-left: 0;
	padding-right: 20px;
}

.cmsmasters_comment_item .cmsmasters_comment_item_date {
	float: left;
}

.cmsmasters_comment_item .cmsmasters_comment_item_avatar {
	margin-left: 20px;
	margin-right: 0;
}

.cmsmasters_comment_item .cmsmasters_comment_item_info_left {
	padding-left: 20px;
	padding-right: 0;
}

.cmsmasters_comment_item .cmsmasters_comment_item_cont_info > a {
	margin-left: 10px;
	margin-right: 0;
}

.cmsmasters_comment_item .cmsmasters_comment_item_content:before {
	left: auto;
	right: 22px;
}

.comment-respond .comment-reply-title small {
	float: left;
}

.comment-respond .comment-form-author,
.comment-respond .comment-form-email {
	padding-left: 10px;
	padding-right: 0;
	float: right;
}

.header_top .header_top_but > span {
	left: 0;
	right: 0;
}

.header_top .header_top_right {
	float: left;
}

.header_top .responsive_top_nav:before {
	left: 0;
	right: 0;
}

.header_top .header_top_left {
	padding-left: 20px;
	padding-right: 0;
}

.header_top .meta_wrap > * {
	margin-left: 35px;
	margin-right: 0;
}

.header_top .meta_wrap > *[class^="cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters-icon-"]:before,
.header_top .meta_wrap > *[class^="cmsmasters_theme_icon_"]:before,
.header_top .meta_wrap > *[class*=" cmsmasters_theme_icon_"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.top_line_nav > li.menu-item-has-children > a {
	padding-left: 35px;
}

.top_line_nav > li.menu-item-has-children > a:before {
	content: '\eb2e';
	right: auto;
	left: 20px;
}

.header_mid .logo_wrap {
	float: right;
}

.enable_header_centered .header_mid .logo_wrap {
	float: none;
}

.header_mid .logo_wrap .title_text {
	padding-left: 0;
	padding-right: 3px;
}

.header_mid .logo_wrap .logo img {
	left: auto;
	right: 0;
}

.enable_header_centered .header_mid .logo_wrap .logo img {
	left: 0;
	right: 0;
}

.header_mid .resp_mid_nav_wrap {
	margin-left: 0;
	margin-right: 20px;
	float: right;
}

.header_mid .resp_mid_nav_wrap .resp_mid_nav:before {
	left: 0;
	right: 0;
}

.header_mid .search_resp_nav_wrap {
	float: left;
}

.header_mid .search_wrap {
	padding-left: 0;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left: 0;
	float: right;
}

.header_mid .search_wrap .search_bar_wrap .search_field {
	left: 0;
	right: 0;
}

.header_mid .search_wrap .search_bar_wrap .search_field input[type=search] {
	text-align: center;
}

.header_mid .search_wrap .search_bar_wrap .search_button {
	float: left;
}

.header_mid .search_wrap .search_bar_wrap .search_button .cmsmasters_cross:after {
	left: auto;
	right: 0;
}

.header_mid .search_wrap.search_opened .search_bar_wrap .search_button {
	right: auto;
	left: 30px;
}

.header_mid .social_wrap .social_wrap_inner {
	text-align: left;
}

.header_mid .social_wrap li {
	margin-left: 3px;
	margin-right: 0;
}

.header_mid .slogan_wrap .slogan_wrap_inner {
	padding-left: 0;
	padding-right: 20px;
	text-align: left;
}

.header_mid .slogan_wrap .slogan_wrap_text > * {
	margin-left: 10px;
	margin-right: 0;
}

.header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters-icon-"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters-icon-"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters_theme_icon_"]:before,
.header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters_theme_icon_"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.header_mid .mid_nav_wrap {
	float: left;
}

.enable_header_bottom .header_mid .search_wrap {
	border-right-width: 0;
	border-right-style: solid;
}

.enable_header_centered .header_bot .header_bot_inner {
	text-align: center;
}

.header_bot .resp_bot_nav_wrap .resp_bot_nav:before {
	left: 0;
	right: 0;
}

.header_bot .bot_nav_wrap {
	float: right;
}

.enable_header_right .header_bot .bot_nav_wrap {
	float: left;
}

.enable_header_centered .header_bot .bot_nav_wrap {
	float: none;
}

.bot_nav > li:first-child,
.mid_nav > li:first-child {
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 0;
	border-left-style: solid;
}

.bot_nav > li > a .nav_tag,
.mid_nav > li > a .nav_tag {
	margin-left: 0;
	margin-right: 10px;
	float: left;
}

.bot_nav > li > ul:after,
.mid_nav > li > ul:after {
	left: auto;
	right: 20px;
}

.bot_nav ul ul li:first-child:before,
.mid_nav ul ul li:first-child:before {
	left: auto;
	right: -14px;
	border-left-width: 6px;
	border-left-style: solid;
	border-right: 0;
}

.bot_nav ul .nav_tag,
.mid_nav ul .nav_tag {
	margin-left: 0;
	margin-right: 10px;
	float: left;
}

.cmsmasters_breadcrumbs_wrapper .cmsmasters_breadcrumbs {
	text-align: left;
}

.headline_outer .headline_color {
	left: auto;
	right: 0;
}

.headline_outer .headline_inner .headline_text:before {
	left: 0;
	right: 0;
}

.cmsmasters_footer_default .footer_custom_html_wrap {
	text-align: center;
}

.cmsmasters_footer_default .footer_custom_html {
	text-align: center;
}

.cmsmasters_footer_default .footer_nav_wrap div {
	text-align: center;
}

.cmsmasters_footer_default .social_wrap .social_wrap_inner {
	text-align: center;
}

.cmsmasters_footer_default .footer_copyright {
	text-align: center;
}

.cmsmasters_footer_small .footer_nav_wrap {
	float: left;
}

.cmsmasters_footer_small .social_wrap {
	float: left;
}

.cmsmasters_footer_small .footer_custom_html_wrap {
	float: left;
}

.cmsmasters_footer_small .footer_copyright {
	padding-left: 20px;
	padding-right: 0;
}

.blog.columns .post {
	float: right;
}

.blog.timeline:before {
	left: 0;
	right: 0;
}

.blog .owl-pagination {
	left: 0;
	right: 0;
}

.cmsmasters_post_default.sticky .cmsmasters_sticky:before {
	left: 0;
	right: 0;
}

.cmsmasters_post_default .cmsmasters_post_info {
	float: right;
}

.cmsmasters_post_default .cmsmasters_post_cont_inner_wrap {
	margin-right: 60px;
}

.cmsmasters_post_default .cmsmasters_post_likes {
	float: right;
}

.cmsmasters_post_default .cmsmasters_post_comments {
	padding-right: 4px;
	padding-left: 0;
	float: right;
}

.cmsmasters_post_default .cmsmasters_post_cont_info > span {
	display:inline-block;
}

.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_post_author {
	padding-left:10px;
} 

.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_post_author + .cmsmasters_post_category {
	padding:0;
}

.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_post_author + .cmsmasters_post_category:before {
	content: none;
}

.cmsmasters_post_masonry .cmsmasters_post_date {
	margin-left: 0;
	margin-right: 30px;
	float: left;
}

.cmsmasters_post_masonry .cmsmasters_date_img_wrap .cmsmasters_post_date {
	float: none;
	right: auto;
	left: 0;
}

.cmsmasters_post_masonry .cmsmasters_img_wrap > a:before {
	left: 0;
	right: 0;
}

.cmsmasters_post_masonry .cmsmasters_post_footer_inner {
	margin-right: 20px;
	margin-left: 0;
	float: left;
}

.cmsmasters_post_masonry .cmsmasters_post_footer_inner .cmsmasters_post_likes + .cmsmasters_post_comments {
	margin-right: 13px;
	margin-left: 0;
}

.cmsmasters_post_timeline .cmsmasters_img_wrap > a:before {
	left: 0;
	right: 0;
}

.cmsmasters_post_timeline .cmsmasters_post_footer .cmsmasters_post_footer_inner {
	margin-right: 20px;
	float: left;
}

.cmsmasters_post_timeline .cmsmasters_post_footer .cmsmasters_post_footer_inner .cmsmasters_post_likes + .cmsmasters_post_comments {
	margin-right: 13px;
	margin-left: 0;
}

.cmsmasters_open_post .cmsmasters_open_post_info {
	float: right;
}

.cmsmasters_open_post .cmsmasters_post_likes {
	float: right;
}

.cmsmasters_open_post .cmsmasters_post_comments {
	padding-right: 4px;
	float: right;
}

.cmsmasters_open_post .cmsmasters_open_post_inner {
	margin-right: 60px;
	margin-left: 0;
}

.cmsmasters_open_post .cmsmasters_post_cont_info > span {
	display:inline-block;
	padding-left:10px;
}

.cmsmasters_open_post .cmsmasters_post_author + .cmsmasters_post_category {
	padding-left: 10px;
}

.cmsmasters_open_post .cmsmasters_post_author + .cmsmasters_post_category:before {
	content: none;
}

.cmsmasters_open_post .cmsmasters_post_tags > a {
	margin-left: 4px;
	margin-right: 0;
}

.portfolio .cmsmasters_project_grid,
.portfolio .cmsmasters_project_puzzle {
	float: right;
}

.portfolio.small_gap .project .project_outer {
	margin-left: 1px;
	margin-right: 0;
}

.cmsmasters_project_grid .project_inner:before {
	left: auto;
	right: 50%;
	margin-right: -9px;
}

.cmsmasters_project_grid .cmsmasters_project_header {
	text-align: center;
}

.cmsmasters_project_grid .cmsmasters_project_cont_info {
	text-align: center;
}

.cmsmasters_project_grid .cmsmasters_project_content {
	text-align: center;
}

.cmsmasters_project_grid .cmsmasters_project_footer {
	text-align: center;
}

.cmsmasters_project_puzzle .project_inner_wrap {
	left: 0;
	right: 0;
	text-align: center;
}

.cmsmasters_project_puzzle .project_inner > * {
	text-align: center;
}

.cmsmasters_open_project .owl-pagination {
	left: 10px;
	right: auto;
}

.cmsmasters_open_project .project_content.with_sidebar {
	float: right;
}

.cmsmasters_open_project .project_sidebar {
	padding-left: 0;
	padding-right: 50px;
	float: left;
}

.cmsmasters_open_project .project_details_item_title,
.cmsmasters_open_project .project_features_item_title {
	float: right;
}

.cmsmasters_open_project .project_details_item_desc,
.cmsmasters_open_project .project_features_item_desc {
	padding-left: 0;
	padding-right: 15px;
	text-align: left;
}

.cmsmasters_posts_slider .owl-buttons > div {
	text-align: center;
}

.cmsmasters_posts_slider .cmsmasters_slider_post,
.cmsmasters_posts_slider .cmsmasters_slider_project {
	float: right;
}

.cmsmasters_slider_post .cmsmasters_slider_post_date {
	right: auto;
	left: 0;
}

.cmsmasters_slider_post .cmsmasters_slider_post_footer_inner {
	margin-right: 20px;
	float: left;
}

.cmsmasters_slider_post .cmsmasters_slider_post_footer_inner .cmsmasters_slider_post_likes + .cmsmasters_slider_post_comments {
	margin-right: 13px;
	margin-left: 0;
}

.cmsmasters_slider_project .cmsmasters_slider_project_inner:before {
	left: auto;
	right: 50%;
	margin-right: -9px;
}

.cmsmasters_slider_project .cmsmasters_slider_project_header {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_cont_info {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_content {
	text-align: center;
}

.cmsmasters_slider_project .cmsmasters_slider_project_footer {
	text-align: center;
}

.cmsmasters_profile_horizontal .cmsmasters_img_wrap {
	text-align: center;
}

.cmsmasters_profile_horizontal .cmsmasters_img_wrap > a:before {
	left: 0;
	right: 0;
}

.cmsmasters_profile_horizontal .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsmasters_profile_horizontal .profile_inner:before {
	left: auto;
	right: 50%;
	margin-right: -8px;
}

.cmsmasters_profile_horizontal .cmsmasters_profile_header {
	text-align: center;
}

.cmsmasters_profile_horizontal .cmsmasters_profile_content {
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_social_icons {
	left: 0;
	right: 0;
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_social_icons_list {
	left: 0;
	right: 0;
	text-align: center;
}

.cmsmasters_profile_horizontal .profile_social_icons_list a:before {
	left: 0;
	right: 0;
}

.cmsmasters_profile_vertical .cmsmasters_img_wrap > a:before {
	left: 0;
	right: 0;
}

.cmsmasters_profile_vertical .cmsmasters_img_wrap + .profile_inner {
	padding-left: 0;
	padding-right: 40px;
}

.cmsmasters_profile_vertical .profile_social_icons_list li {
	margin-left: 10px;
	margin-right: 0;
}

.cmsmasters_profile_vertical .profile_social_icons_list a:before {
	left: 0;
	right: 0;
}

.cmsmasters_open_profile .profile_content.with_sidebar {
	float: right;
}

.cmsmasters_open_profile .profile_sidebar {
	padding-left: 0;
	padding-right: 50px;
	float: left;
}

.cmsmasters_open_profile .profile_details_item_title,
.cmsmasters_open_profile .profile_features_item_title {
	float: right;
}

.cmsmasters_open_profile .profile_details_item_desc,
.cmsmasters_open_profile .profile_features_item_desc {
	padding-left: 0;
	padding-right: 15px;
	text-align: left;
}

.cmsmasters_open_profile .profile_social_icons_list li {
	margin-left: 10px;
	margin-right: 0;
}

.cmsmasters_open_profile .profile_social_icons_list a:before {
	left: 0;
	right: 0;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_center {
	left: auto;
	right: 40%;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_right {
	left: auto;
	right: 80%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_center {
	left: auto;
	right: 30%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_right {
	left: auto;
	right: 60%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_short .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -10%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_medium .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -20%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_long .cmsmasters_heading_divider_left {
	margin-left: 0;
	margin-right: -100%;
}

.cmsmasters_heading_wrap .cmsmasters_heading:before,
.cmsmasters_heading_wrap .cmsmasters_heading a:before {
	margin-left: 0.5em;
	margin-right: 0;
}

.cmsmasters_table tr td.cmsmasters_table_cell_aligncenter,
.cmsmasters_table tr th.cmsmasters_table_cell_aligncenter {
	text-align: center;
}

.cmsmasters_notice[class*=" cmsmasters-icon-"],
.cmsmasters_notice[class*=" cmsmasters_theme_icon_"] {
	padding-left: 48px;
	padding-right: 80px;
}

.cmsmasters_notice:before {
	left: auto;
	right: 20px;
}

.cmsmasters_notice .notice_close {
	left: 10px;
	right: auto;
}

.cmsmasters_notice .notice_close:before {
	left: 0;
	right: 0;
}

.cmsmasters_icon_box.cmsmasters_icon_heading_left h1:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h2:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h3:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h4:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h5:before,
.cmsmasters_icon_box.cmsmasters_icon_heading_left h6:before {
	margin-left: 15px;
	margin-right: 0;
}

.cmsmasters_toggles .cmsmasters_toggle_title:before {
	left: auto;
	right: 50%;
	margin-left: -10px;
	margin-right: 0;
}

.cmsmasters_toggles .cmsmasters_toggle_plus {
	left: 0;
	right: 0;
}

.cmsmasters_toggles .cmsmasters_toggle_plus span {
	left: 0;
	right: 0;
}

.cmsmasters_toggles.toggles_mode_toggle .cmsmasters_toggle_title a {
	padding-left: 20px;
	padding-right: 60px;
}

.cmsmasters_toggles.toggles_mode_toggle .cmsmasters_toggle_plus {
	left: auto;
	right: 30px;
}

.cmsmasters_toggles.toggles_mode_accordion .cmsmasters_toggle_title a {
	padding-left: 0;
	padding-right: 60px;
}

.cmsmasters_toggles.toggles_mode_accordion .cmsmasters_toggle_plus {
	left: auto;
	right: 30px;
}

.cmsmasters_tabs .cmsmasters_tabs_list_item a[class^="cmsmasters-icon-"],
.cmsmasters_tabs .cmsmasters_tabs_list_item a[class^="cmsmasters_theme_icon_"] {
	padding-left: 20px;
	padding-right: 65px;
}

.cmsmasters_tabs .cmsmasters_tabs_list_item a:before {
	left: auto;
	right: 30px;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list_item {
	border-left-width: 1px;
	border-left-style: solid;
	border-right:0;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list_item:before {
	left: auto;
	right: 50%;
	margin-right: -15px;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list_item:last-child {
	border-left-width: 0;
	border-left-style: solid;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list_item a {
	text-align: center;
}

.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tab_inner {
	text-align: center;
}

.cmsmasters_tabs.tabs_mode_tour {
	direction: ltr;
}

.cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list,
.cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_wrap {
	direction: rtl;
}

.cmsmasters_stats {
	text-align: center;
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	left: auto;
	right: 15px;
	padding-left: 33px;
	padding-right: 0;
}

.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title[class^="cmsmasters-icon-"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title[class*=" cmsmasters-icon-"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title[class^="cmsmasters_theme_icon_"]:before,
.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title[class*=" cmsmasters_theme_icon_"]:before {
	right: auto;
	left: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	text-align: center;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner:before {
	float: left;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title_counter_wrap {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	padding-left: 10px;
	padding-right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	float: right;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap {
	padding-right: 60px;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap:before {
	left: 0;
	right: 60px;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner:before,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_title {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters-icon-"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters-icon-"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class^="cmsmasters_theme_icon_"] .cmsmasters_stat_title,
.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner[class*=" cmsmasters_theme_icon_"] .cmsmasters_stat_title {
	left: auto;
	right: 30px;
}

.cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat_counter_wrap {
	left: auto;
	right: 0;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap {
	float: none;
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner {
	left: auto;
	right: 13px;
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap {
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title {
	text-align: center;
}

.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_subtitle {
	text-align: center;
}

.cmsmasters_counters {
	text-align: center;
}

.cmsmasters_counters .cmsmasters_counter_wrap {
	float: none;
	text-align: center;
}

.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter {
	text-align: center;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner {
	text-align: center;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 50%;
}

.cmsmasters_counters.counters_type_vertical .cmsmasters_counter_wrap .cmsmasters_counter_subtitle {
	text-align: center;
}

.cmsmasters_counters.counters_type_horizontal .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner:before {
	left: auto;
	right: 0;
}

.cmsmasters_gallery {
	margin-left: 0;
	margin-right: -10px;
}

.cmsmasters_gallery .cmsmasters_gallery_item {
	padding-left: 0;
	padding-right: 10px;
	float: right;
}

.cmsmasters_gallery .cmsmasters_gallery_item.cmsmasters_caption figcaption {
	text-align: center;
}

.cmsmasters_quotes_slider .quote_placeholder {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_image {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_title {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_subtitle_wrap {
	text-align: center;
}

.cmsmasters_quotes_slider .cmsmasters_quote_subtitle + .cmsmasters_quote_site:before {
	content: '\002D'; /* Check this rule! */
}

.cmsmasters_quotes_slider .cmsmasters_quote_content {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert:before {
	left: auto;
	right: 25%;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert:after {
	left: auto;
	right: 75%;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert span {
	left: auto;
	right: 50%;
}

.quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_vert:before {
	left: auto;
	right: 33.33%;
}

.quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_vert:after {
	left: auto;
	right: 66.66%;
}

.quote_two.cmsmasters_quotes_grid .cmsmasters_quotes_vert span {
	left: auto;
	right: 50%;
}

.cmsmasters_quotes_grid .cmsmasters_quote {
	float: right;
}

.quote_one.cmsmasters_quotes_grid .cmsmasters_quote {
	float: none;
}

.cmsmasters_quotes_grid .cmsmasters_quote_image {
	padding-left: 20px;
	padding-right: 0;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_image,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_image {
	text-align: center;
}

.cmsmasters_quotes_grid .cmsmasters_quote_info_wrap {
	padding-left: 0;
	padding-right: 80px;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_info_wrap,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_info_wrap {
	text-align: center;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_subtitle_wrap {
	text-align: center;
}

.cmsmasters_quotes_grid .cmsmasters_quote_content {
	padding-left: 0;
	padding-right: 80px;
}

.quote_four.cmsmasters_quotes_grid .cmsmasters_quote_content,
.quote_three.cmsmasters_quotes_grid .cmsmasters_quote_content {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_pricing_item {
	float: right;
}

.pricing_one.cmsmasters_pricing_table .cmsmasters_pricing_item {
	float: none;
}

.cmsmasters_pricing_table .cmsmasters_pricing_item_head:before {
	left: auto;
	right: 50%;
	margin-right: -10px;
}

.cmsmasters_pricing_table .pricing_title {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_price_wrap {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_period {
	text-align: center;
}

.cmsmasters_pricing_table .feature_list {
	text-align: center;
}

.cmsmasters_pricing_table .cmsmasters_pricing_but_wrap {
	text-align: center;
}

.resizable_block .google_map {
	left: auto;
	right: 0;
}

.cmsmasters_img.cmsmasters_image_l {
	margin-left: 20px;
	float: right;
}

.cmsmasters_img.cmsmasters_image_r {
	margin-right: 20px;
	float: left;
}

.cmsmasters_img .cmsmasters_img_caption {
	text-align: center;
}

.wp-caption .wp-caption-text {
	text-align: center;
}

.gallery-item .gallery-caption {
	text-align: center;
}

.cmsmasters_sidebar aside {
	float: right;
}

.social_vertical .share_wrap {
	float: none;
}

.share_wrap {
	float: right;
}

.cmsmasters_twitter_wrap .owl-buttons {
	left: auto;
	right: 0;
}

.cmsmasters_twitter_wrap .cmsmasters_twitter_item {
	padding-left: 0;
	padding-right: 130px;
}

.cmsmasters_twitter_wrap .published:before {
	content: '\ea97'; /* Check this rule! */
	padding-left: 20px;
}

.cmsmasters_dropcap {
	margin-left: 33px;
	margin-right: 23px;
	float: right;
}

.cmsmasters_dropcap.type2 {
	margin-left: 25px;
	margin-right: 0;
	text-align: center;
}

.cmsmasters_clients_slider .owl-pagination,
.cmsmasters_clients_slider .owl-buttons {
	left: auto;
	right: auto;
}

.cmsmasters_clients_slider .owl-pagination {
	right: auto;
	left: -3px;
}

.cmsmasters_clients_slider .owl-buttons {
	right: auto;
	left: -10px;
}

.cmsmasters_clients_item {
	text-align: center;
}

.cmsmasters_clients_grid .cmsmasters_clients_item {
	float: right;
}

.cmsmasters_clients_grid.clients_one .cmsmasters_clients_item:last-child,
.cmsmasters_clients_grid.clients_one .cmsmasters_clients_item {
	float: none;
}

.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {
	float: right;
}

.widget_pages ul ul,
.widget_categories ul ul,
.widget_archive ul ul,
.widget_meta ul ul,
.widget_recent_comments ul ul,
.widget_recent_entries ul ul {
	padding-left: 0;
	padding-right: 10px;
}

#wp-calendar caption {
	text-align: right;
}

.widget_custom_contact_info_entries > span,
.widget_custom_contact_info_entries .adress_wrap {
	margin-left: 0;
	margin-right: 2px;
	padding-left: 0;
	padding-right: 40px;
}

.widget_custom_contact_info_entries > span:before,
.widget_custom_contact_info_entries .adress_wrap:before {
	text-align: center;
	left: auto;
	right: 0;
}

.widget_nav_menu .menu li li a {
	padding-right: 40px;
	padding-left: 0;
}

.widget_nav_menu .menu li li li a {
	padding-right: 60px;
	padding-left: 0;
}

.widget_nav_menu .menu li li li li a {
	padding-right: 80px;
	padding-left: 0;
}

.widget_nav_menu .menu li.current_page_item:before {
	left: auto;
	right: -14px;
	border-right: 0 solid transparent;
	border-left-width: 7px;
	border-left-style: solid;
}

.l_sidebar .widget_nav_menu .menu li.current_page_item:before {
	left: -14px;
	right: auto;
	border-left: 0 solid transparent;
	border-right-width: 7px;
	border-right-style: solid;
}

.l_sidebar .widget_nav_menu .menu {
	margin-left: 10px;
	margin-right: 0;
}

.widget_custom_flickr_entries .flickr_badge_image {
	float: right;
}

.widget_custom_popular_projects_entries .widgettitle,
.widget_custom_latest_projects_entries .widgettitle {
	padding-left: 70px;
	padding-right: 0;
}

.widget_custom_popular_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons,
.widget_custom_latest_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons {
	left: 0;
	right: auto;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item {
	float: none;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item:before {
	margin-right: -7px;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_img {
	margin-left: 20px;
	margin-right: auto;
	left: auto;
	right: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont {
	padding-left: 0;
	padding-right: 80px;
}

.widget_tag_cloud a {
	margin-left: 4px;
	margin-right: 0;
	float: right;
}

.widget_custom_twitter_entries .tweet_time {
	padding-left: 0;
	padding-right: 35px;
}

.widget_custom_twitter_entries .tweet_time:before {
	left: auto;
	right: 0;
}

.cmsmasters_open_post .cmsmasters_post_cont_img_wrap + .cmsmasters_open_post_inner {
	margin-right:0;
}

.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
	margin-left: 40px;
	margin-right: 0;
	float: right;
}

.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap .cmsmasters_img_wrap a:before {
	left: 0;
	right: 0;
}

.cmsmasters_archive_type .cmsmasters_archive_item_info:before {
	left: auto;
	right: 0;
}

.cmsmasters_archive_type .cmsmasters_archive_item_info > span {
	display:inline-block;
	padding-left: 10px;
}

.cmsmasters_archive_type .cmsmasters_archive_item_date_wrap:before,
.cmsmasters_archive_type .cmsmasters_archive_item_user_name + .cmsmasters_archive_item_category:before {
	content: none; 
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li:before {
	left: auto;
	right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li {
	padding-left: 20px;
	float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul li {
	margin-right: 20px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul > li {
	margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category:before {
	left: auto;
	right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li {
	padding-left: 20px;
	float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul li {
	margin-right: 20px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul > li {
	margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive:before {
	left: auto;
	right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li {
	padding-left: 20px;
	float: right;
}

.error .error_title {
	text-align: center;
}

.error .error_subtitle {
	text-align: center;
}

.error_cont {
	text-align: center;
}

.error_cont .search_bar_wrap {
	text-align: center;
}

.error_cont .error_button_wrap {
	text-align: center;
}

.cmsmasters_attach_img .cmsmasters_attach_img_edit {
	float: left;
}

.cmsmasters_paypal_donations > form > .paypal-donations input[type="image"] {
	left: 0;
	right: 0;
}

div.wpcf7 {
	direction:rtl;
}

.wpcf7-list-item-label,
#fbuilder input[type="checkbox"] + .field_before,
#fbuilder input[type="radio"] + .field_before,
body .cmsmasters-form-builder .check_parent input[type="checkbox"] + label,
body .cmsmasters-form-builder .check_parent input[type="radio"] + label {
	padding-left: 0;
	padding-right: 35px;
	float: right;
}

#fbuilder input[type="checkbox"],
#fbuilder input[type="radio"],
.cmsmasters-form-builder .check_parent input[type="checkbox"],
.cmsmasters-form-builder .check_parent input[type="radio"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] {
	float: right;
	left: auto;
}

#fbuilder input[type="checkbox"] + .field_before:before,
#fbuilder input[type="radio"] + .field_before:before,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before,
.cmsmasters-form-builder .check_parent input[type="checkbox"] + label:before,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before,
.cmsmasters-form-builder .check_parent input[type="radio"] + label:before {
	left: auto;
	right: 0px;
}

#fbuilder input[type="radio"] + .field_before:after,
#fbuilder input[type="checkbox"] + .field_before:after,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after,
.cmsmasters-form-builder .check_parent input[type="checkbox"] + label:after,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after,
.cmsmasters-form-builder .check_parent input[type="radio"] + label:after {
	left: auto;
	right: 0px;
}

#page #fbuilder .pbreak .pbPrevious, 
#page #fbuilder .pbreak .pbNext, 
#page #fbuilder .pbSubmit {
	float: none;
	margin-right:0;
	margin-left:10px;
}

.page #fbuilder .uh_phone {
	margin-left: 5px;
	margin-right: 0;
	float:right;
}

@-webkit-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-moz-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-ms-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-o-keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@keyframes bar_title {
	from {
		margin-right: -200px;
	}
	to {
		margin-right: 0%;
	}
}

@-webkit-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-moz-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-ms-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}

@-o-keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}
@keyframes bar_icon {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0%;
	}
}


/*-------------------------------------------------------------------------*/
/*	Responsive RTL
/*-------------------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
	#header nav div,
	  #header nav ul,
	  #header nav li,
	  #header nav a,
	  #header nav span {
		float: none;
		left: auto;
		right: auto;
		text-align: right;
	}

	.cmsmasters_121414 .cmsmasters_column.one_half,
	  .cmsmasters_141412 .cmsmasters_column.one_half {
		float: none;
	}

	.sidebar_layout_141412 > aside:first-child + aside + aside,
	  .sidebar_layout_141412 > div.cl + aside + aside + aside,
	  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside + aside {
		float: none;
	}

	.sidebar_layout_121414 > aside:first-child,
	  .sidebar_layout_121414 > div.cl + aside,
	  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside {
		float: none;
	}

	.header_top .header_top_right {
		float: none;
	}

	.header_top .social_wrap .social_wrap_inner {
		text-align: center;
	}

	.header_top .meta_wrap {
		text-align: center;
	}

	#header .top_line_nav .nav_item_wrap {
		text-align: center;
	}

	#header .header_mid .mid_nav_wrap {
		float: none;
	}

	#header .header_bot .resp_bot_nav_wrap .resp_bot_nav_outer {
		text-align: center;
	}

	#header .header_bot .bot_nav_wrap {
		float: none;
	}

	#header .navigation a {
		padding-left: 0;
		padding-right: 10px;
	}

	#header .navigation li li > a {
		padding-left: 0;
		padding-right: 30px;
	}

	#header .navigation li li li > a {
		padding-left: 0;
		padding-right: 50px;
	}

	#header .navigation .nav_tag {
		margin-left: 0;
		margin-right: 10px;
	}

	#header .navigation .cmsmasters_resp_nav_toggle {
		left: 11px;
		right: auto;
	}

	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_block {
		text-align: center;
	}

	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
		float: none;
		text-align: center;
	}

	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block > a {
		float: none;
	}
}

@media only screen and (max-width: 950px) {
	.cmsmasters_open_project .project_content.with_sidebar {
		float: none;
	}

	.cmsmasters_open_project .project_sidebar {
		float: none;
	}

	.cmsmasters_open_profile .profile_content.with_sidebar {
		float: none;
	}

	.cmsmasters_open_profile .profile_sidebar {
		float: none;
	}
}

@media only screen and (max-width: 768px) {
	.one_first,
	  .one_half,
	  .one_third,
	  .two_third,
	  .one_fourth,
	  .one_fifth,
	  .three_fourth,
	  .cmsmasters_121414 .cmsmasters_column.one_half,
	  .cmsmasters_141412 .cmsmasters_column.one_half,
	  .cmsmasters_141214 .cmsmasters_column.one_fourth,
	  .cmsmasters_141214 .cmsmasters_column.one_half {
		float: none;
	}

	.cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item {
		float: none;
	}

	.cmsmasters_clients_grid.clients_five .cmsmasters_clients_item,
	  .cmsmasters_clients_grid.clients_four .cmsmasters_clients_item,
	  .cmsmasters_clients_grid.clients_three .cmsmasters_clients_item,
	  .cmsmasters_clients_grid.clients_two .cmsmasters_clients_item {
		float: none;
	}

	#header .header_mid .logo_wrap {
		float: none;
		text-align: center;
	}

	#header .header_mid .search_resp_nav_wrap {
		float: none;
	}

	#header .header_mid .search_wrap {
		float: none;
	}

	#header .header_mid .search_wrap .search_wrap_inner {
		text-align: center;
	}

	#header .header_mid .resp_mid_nav_wrap {
		float: none;
	}

	#header .header_mid .resp_mid_nav_wrap .resp_mid_nav_outer {
		text-align: center;
	}

	#header .header_mid .social_wrap .social_wrap_inner {
		text-align: center;
	}

	#header .header_mid .slogan_wrap .slogan_wrap_inner {
		text-align: center;
	}

	#header .header_mid .slogan_wrap .slogan_wrap_text {
		text-align: center;
	}

	#header .header_mid .mid_nav_wrap {
		float: none;
	}

	.cmsmasters_footer_default .footer_nav {
		text-align: center;
	}

	.cmsmasters_footer_default .footer_nav > li {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap {
		float: none;
	}

	.cmsmasters_footer_small .footer_nav_wrap nav > div {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_nav {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_nav > li {
		float: none;
	}

	.cmsmasters_footer_small .social_wrap {
		float: none;
	}

	.cmsmasters_footer_small .social_wrap .social_wrap_inner {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_custom_html_wrap {
		float: none;
	}

	.cmsmasters_footer_small .footer_custom_html_wrap .footer_custom_html {
		text-align: center;
	}

	.cmsmasters_footer_small .footer_copyright {
		text-align: center;
	}

	.blog.timeline .cmsmasters_timeline_left .cmsmasters_post_info,
	.blog.timeline .cmsmasters_timeline_right .cmsmasters_post_info {
		left: auto;
		right: 0;
	}

	.cmsmasters_quotes_grid.quote_one .cmsmasters_quote .cmsmasters_quote_info_wrap,
	  .cmsmasters_quotes_grid.quote_four .cmsmasters_quote .cmsmasters_quote_info_wrap,
	  .cmsmasters_quotes_grid.quote_three .cmsmasters_quote .cmsmasters_quote_info_wrap,
	  .cmsmasters_quotes_grid.quote_two .cmsmasters_quote .cmsmasters_quote_info_wrap {
		text-align: center;
	}

	.cmsmasters_quotes_grid.quote_one .cmsmasters_quote .cmsmasters_quote_image,
	.cmsmasters_quotes_grid.quote_four .cmsmasters_quote .cmsmasters_quote_image,
	.cmsmasters_quotes_grid.quote_three .cmsmasters_quote .cmsmasters_quote_image,
	.cmsmasters_quotes_grid.quote_two .cmsmasters_quote .cmsmasters_quote_image {
		text-align: center;
	}

	.cmsmasters_quotes_grid.quote_one .cmsmasters_quote .cmsmasters_quote_subtitle_wrap,
	.cmsmasters_quotes_grid.quote_four .cmsmasters_quote .cmsmasters_quote_subtitle_wrap,
	.cmsmasters_quotes_grid.quote_three .cmsmasters_quote .cmsmasters_quote_subtitle_wrap,
	.cmsmasters_quotes_grid.quote_two .cmsmasters_quote .cmsmasters_quote_subtitle_wrap {
		text-align: center;
	}

	.cmsmasters_quotes_grid.quote_one .cmsmasters_quote .cmsmasters_quote_content,
	.cmsmasters_quotes_grid.quote_four .cmsmasters_quote .cmsmasters_quote_content,
	.cmsmasters_quotes_grid.quote_three .cmsmasters_quote .cmsmasters_quote_content,
	.cmsmasters_quotes_grid.quote_two .cmsmasters_quote .cmsmasters_quote_content {
		text-align: center;
	}

	.cmsmasters_quotes_grid.quote_one .cmsmasters_quote .cmsmasters_quote_content:before,
	  .cmsmasters_quotes_grid.quote_four .cmsmasters_quote .cmsmasters_quote_content:before,
	  .cmsmasters_quotes_grid.quote_three .cmsmasters_quote .cmsmasters_quote_content:before,
	  .cmsmasters_quotes_grid.quote_two .cmsmasters_quote .cmsmasters_quote_content:before {
		left: auto;
		right: 50%;
		margin-right: -15px;
	}

	.cmsmasters_tabs.tabs_mode_tour .cmsmasters_tab_inner {
		padding-left: 0;
		padding-right: 30px;
	}

	.cmsmasters_profile_vertical .cmsmasters_img_wrap + .profile_inner {
		padding-left: 0;
		padding-right: 20px;
	}

	.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
		margin-left: 20px;
		margin-right: 0;
	}

	#page .cmsmasters_sitemap_wrap .cmsmasters_sitemap_category li,
	#page .cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive li,
	#page .cmsmasters_sitemap_wrap .cmsmasters_sitemap li {
		float: none;
	}
}


@media only screen and (max-width: 540px) {
	.cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_two .cmsmasters_pricing_item,
	.cmsmasters_pricing_table.pricing_one .cmsmasters_pricing_item {
		float: none;
	}

	#page .headline_outer .headline_inner .headline_text {
		text-align: center;
	}

	#page .cmsmasters_breadcrumbs {
		float: none;
		text-align: center;
	}

	.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
		float: none;
	}

	.cmsmasters_twitter_wrap .owl-buttons {
		left: 0;
		right: 0;
	}

	.cmsmasters_twitter_wrap .published {
		text-align: center;
	}

	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content {
		text-align: center;
	}

	.cmsmasters_open_post .cmsmasters_open_post_info,
	  .cmsmasters_post_default .cmsmasters_post_info {
		float: none;
	}

	.cmsmasters_open_post .cmsmasters_open_post_info .cmsmasters_post_date,
	.cmsmasters_post_default .cmsmasters_post_info .cmsmasters_post_date {
		text-align: center;
	}

	.cmsmasters_open_post .cmsmasters_open_post_info .cmsmasters_open_post_info_bot,
	.cmsmasters_post_default .cmsmasters_post_info .cmsmasters_open_post_info_bot,
	.cmsmasters_open_post .cmsmasters_open_post_info .cmsmasters_post_info_bot,
	.cmsmasters_post_default .cmsmasters_post_info .cmsmasters_post_info_bot {
		text-align: center;
	}

	.cmsmasters_open_post .cmsmasters_open_post_info .cmsmasters_open_post_info_bot > span,
	.cmsmasters_post_default .cmsmasters_post_info .cmsmasters_open_post_info_bot > span,
	.cmsmasters_open_post .cmsmasters_open_post_info .cmsmasters_post_info_bot > span,
	.cmsmasters_post_default .cmsmasters_post_info .cmsmasters_post_info_bot > span {
		float: none;
	}

	.cmsmasters_open_post .cmsmasters_open_post_info .cmsmasters_post_cont_inner_wrap,
	.cmsmasters_post_default .cmsmasters_post_info .cmsmasters_post_cont_inner_wrap {
		margin-right: 0;
	}

	#page .about_author .about_author_avatar {
		float: none;
	}

	#page .about_author .about_author_cont,
	#page .about_author .about_author_inner {
		text-align: center;
	}
}